<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZhongFaZhiZao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D5D574B20478AAA00F683F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D5D576320478AAB00F683F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D5D576E20478AAB00F683F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
